body {
  background-color: rgb(15, 23, 42);
}
.cell {
  background: #1e293b;
  border: 2px solid #00f2ff;
}


.cell.X {
  color: rgb(0, 242, 255);
}

.cell.O {
  color: rgb(255, 77, 109);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle, #020617, #000);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bg-svg {
  position: absolute;
  width: 400px;
  opacity: 0.15;
  z-index: 0;
}

h1 {
  z-index: 1;
  letter-spacing: 4px;
}

#status {
  margin: 10px 0 20px;
  z-index: 1;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 12px;
  z-index: 1;
}

.cell {
  width: 100px;
  height: 100px;
  background: var(--cell-bg);
  border-radius: 12px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  transform: scale(1.0);
}
.cell.X {
  color: blue
}

.cell.O {
  color: red
}

button {
  margin-top: 20px;
  padding: 10px 24px;
  font-family: inherit;
  color: blue;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.5s;
}

button:hover {
  background: rgba(193, 150, 9, 0.781);
  color: black;
}

.win {
  animation: glow 1s infinite alternate;
}



.draw {
  animation: shake 0.6s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
