body{
    background-color: rgb(90, 40, 5);
}
button{
    background-color: rgba(165, 74, 44, 0.906);
    color: rgb(220, 175, 175);
}
* {
  color: antiquewhite;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo img {
  width: 150px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  transition: color 1.0s;
}

.nav-links a:hover {
  color: var(--secondary-color);
}
.features {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card {
  background: rgb(192, 140, 21);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.pricing {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.price-card {
  background: rgb(216, 190, 45);
  padding: 25px;
  width: 220px;
  text-align: center;
  transition: transform 1.0s;
}

.price-card:hover {
  transform: scale(1.08);
}
.footer {
  text-align: center;
  padding: 20px;
}
a{
    margin: 30px;
    color: rgb(216, 181, 181);
    text-decoration: double;
}